.imagenes {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
    flex-wrap: wrap;
}

.imagenes>div {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 7px;
}

.fondos img {
    width: 70px;
    height: 50px;
}

.form {
    justify-content: space-evenly;
    align-items: center;
}

.aside {
    padding: 5% 0;
}