* {
    margin: 0;
    padding: auto;
    box-sizing: content-box;
}

:root {
    --azul: #0089CE;
    --blanco: #feffff;
    --morado: #202b70;
    --negro: #000000;
    --amarillo: #E2D556;
    --gris: #757575;
}

html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

/* navbar */
nav {
    width: 100%;
    height: 7vh;
    background-color: var(--blanco);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;

}

.nav .active {
    color: var(--azul);
}

.logo {
    width: 150px;
    height: 100%;
    text-decoration: none;
    color: var(--negro);
    background-image: url(../estilos/imagenes/logo/perfect\ smile\ logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.simuladorslider {
    width: 100%;
    height: 100vh;
    background-image: url(../estilos/imagenes/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 36px;
}

/* divisiones */

.divisiones {
    width: 100%;
    height: 350px;
    background: var(--blanco);
    border-top: solid black;
}

/* cards */
.tarjetas {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: var(--morado);
}

.card-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--morado);
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background: var(--blanco);
}

.card {
    margin: 20px;
    width: 18rem;
}

.card-text,
.card-body,
.card {
    color: var(--blanco);
    background: var(--morado);
    text-align: center;
}


/* footer*/
.footer {
    width: 100%;
    height: 50px;
    background: var(--morado);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
}

.footer a {
    text-decoration: none;
    color: var(--azul);
}