* {
    margin: 0;
    padding: auto;
    box-sizing: content-box;
}

:root {
    --azul: #0089CE;
    --blanco: #feffff;
    --morado: #202b70;
    --negro: #000000;
    --amarillo: #E2D556;
    --gris: #757575;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--morado);
    border-radius: 5px;
}

html {
    font-size: 1rem;
    font-family: myriad-pro, sans-serif;
}

@media (max-width: 1000px) {
    html {
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 0.85rem;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 0.7rem;
    }

    .footer {
        font-size: 0.6rem;
    }

    .footerdown {
        text-align: center;
    }
}

/* navbar */
nav {
    width: 100%;
    height: 8vh;
    background-color: var(--blanco);
}

.navbar{
    width: 100%;
    height: 7vh;

}

.navbar img {
    width: 150px;
    height: 100%;
}

.carousel {
    margin-top: 3.9rem;
    width: 100%;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 100%;
    background: var(--blanco);
}


.navbar ul li {
    list-style: none;
    flex-direction: row;
}



@media(max-width:768px) {
    .navbar{
        height: auto;
    }
    .nav-item a{
        font-size: 1.5rem;
    }
}

.logo {
    width: 150px;
    height: 100%;
    text-decoration: none;
    color: var(--negro);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider {
    width: 100%;
    height: auto;
    margin-top: 5vh;
}

.slidermobil {
    display: none;
}

@media (max-width:600px) {
    .slider {
        display: none;
    }

    .slidermobil {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 7vh;
    }
}

.carousel {
    height: 100%;
}

.offcanvas-title {
    background-image: url(../estilos/imagenes/logo/perfect-logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 46px;
}

/* divisiones */

.divisiones {
    width: 100%;
    height: 350px;
    background: var(--blanco);
    border-top: solid black;
}

/* cards */
.tarjetas {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: var(--morado);
}

.card-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--morado);
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle1 {
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background-image: url(../estilos/imagenes/circle1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.circle2 {
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background-image: url(../estilos/imagenes/circle2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.circle3 {
    height: 140px;
    width: 140px;
    border-radius: 140px;
    background-image: url(../estilos/imagenes/circle3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width:800px) {
    .circle {
        width: 60px;
        height: 60px;
        border: 60px;
    }

    .circle1,
    .circle2,
    .circle3 {
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
}

.card {
    margin: 20px;
    width: 30%;
}

.card-text,
.card-body,
.card {
    color: var(--blanco);
    background: var(--morado);
    text-align: center;
}

.textomovilcircle {
    display: none;
}

@media (max-width:800px) {
    .card-text {
        display: none;
    }

    .textomovilcircle {
        display: block;
    }

    .card {
        width: 20%;
        display: inline-flex;
    }
}

/* ----------- */
/*   carrusel  */
/*-------------*/


.section {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CarouselSection {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.carrusel {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.carrusel1 {
    width: 80%;
    height: 80%;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    display: none;
}

@media (max-width: 700px) {
    .carrusel {
        display: none;
    }

    .carrusel1 {
        display: block;
    }
}

.TextSection {
    height: 48%;
    width: 90%;
    display: flex;
    align-items: center;
}

.text p {
    text-align: justify;
    color: var(--negro);
    margin-bottom: 0.5rem;
}

.button-free {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-btn {
    width: 300px;
    height: 50px;
    color: var(--blanco);
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: 700;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-2 {
    background: rgb(43, 81, 250);
    background: linear-gradient(0deg, rgba(43, 81, 250, 1) 0%, rgb(5, 107, 240) 100%);
    border: none;
    margin: 25px;
}

.btn-2:before {
    height: 0%;
    width: 2px;
}

.btn-2:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    color: var(--blanco);
}

.container .carousel-caption .custom-btn:not(.btn-start) {
    margin-left: 70%;
}
.container .carousel-caption .custom-btn:not(.btn-top) {
    margin-bottom: 100px;
}

.btn-top {
    margin-bottom: 150px;
}

.btn-mobile {
    display: none;
}

@media (max-width: 1245px) {
    .container .carousel-caption .custom-btn, .btn-start, .btn-top {
        margin-bottom: 0;
    }
}

@media (max-width:850px) {

    .custom-btn{
        width: 200px;
        height: 30px;
        font-size: 12px;
    }
}

@media (max-width:600px) {
    .btn-mobile {
        display: block;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*--------------*/
/*  Formulario  */
/*--------------*/

.contact {
    display: flex;
    justify-content: center;
}

.contact h5 {
    color: var(--morado);
    font-size: 3rem;
}

.hr {
    display: flex;
    justify-content: center;
}

.hr hr {
    width: 75%;
}

.ContactUs {
    min-height: 350px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.formulario {
    height: auto;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 5px;
    padding: 0;
}

.map {
    height: 600px;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 5px;
    padding: 0;
}

@media (max-width:800px) {
    .formulario {
        height: fit-content;
    }

    .map {
        height: 350px;
    }

}

.formulario #floatingTextarea2 {
    height: 100px;
}

.btn {
    background-color: var(--morado);
}



.mapa {
    height: 80%;
    width: 100%;
    border: var(--morado) solid 2px;
}

@media (max-width: 800px) {

    .formulario,
    .map {
        width: 90%;
    }
}

.imagenes {
    display: flex;
    flex-direction: row;
    margin-bottom: 22px;
    flex-wrap: wrap;
}

.imagenes div {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 7px;
}

.imagenes img {
    width: 120px;
    height: 80px;
    margin-bottom: 2px;
}

/*api de instagram*/

.api-instagram {
    max-height: max-content;
    width: 100%;
}

/* footer*/
.footer {
    width: 100%;
    height: 200px;
    height: auto;
    background: var(--morado);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
}

.footerup {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footerup {
    padding: 0;
}

.footerup b {
    margin-bottom: 1rem;
}

.footerup a i {
    text-decoration: none;
    color: var(--blanco);
    margin: 0 10px;
}

.footerup a i:hover {
    font-size: 20px;
    transition: 0.5s;
}

.footerup div {
    padding: 1rem;
}

.footerdown {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerdown p {
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: var(--azul);
    margin: 0 10px 0 10px;
}

.copy {
    margin-bottom: 20px;
}

.letrapequena {
    font-size: 0.8rem;
    text-align: center;
    color: var(--blanco);
    padding: 0 200px 0 200px;
}

/*CONSULTATION ONLINE*/

.titulo {
    width: 100%;
    height: 150px;
    text-align: left;
    background: var(--morado);
    margin: 36px 0 20px 0;
    display: flex;
    align-items: center;
    border-bottom: var(--blanco) solid 10px;
}

.titulo p {
    color: var(--blanco);
    font-size: 2rem;
    margin: 150px;

}

@media (max-width:800px) {
    .footer {
        font-size: 0.8rem;
    }

    .footerup a i {
        font-size: 0.9rem;
    }

    .titulo {
        height: 100px;
        margin-left: 50px;

    }

    .titulo p {
        font-size: 1.3rem;
    }

    .productdisclaimer {
        padding: 50px 0 0 50px;
    }

    .letrapequena {
        padding: 5px;
    }
}

h2 {
    font-size: 1.5rem;
    color: var(--morado);
}

.pblack {
    font-size: 0.9rem;
    color: var(--gris)
}

.productdisclaimer {

    width: 90%;
    height: auto;
    text-align: justify;
    padding: 50px 0 50px 150px;
    margin: 0;
}

@media (max-width:900px) {
    .productdisclaimer {
        padding: 10px 0 10px 20px;
    }

    .titulo {
        margin: 66px 0 0 0;
    }

    .titulo p {
        margin-left: 20px;
    }
}

/*   estilo formulario*/




.contact h4 {
    color: var(--morado);
    font-size: 2rem;
}

.textphotos {
    margin: 0;
}

/*------------------*/
/*   Gallery       */
/*------------------*/
.papaparent {
    display: flex;
    justify-content: center;
}

.parent {
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 12px;
    padding: 0 0 25px 0;
}

.parent .grid {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--negro);
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
}

.front img {
    height: 350px;
    width: 350px;
}


.titulogallery p {
    color: var(--blanco);
    font-size: 2rem;
    margin: 165px 150px 150px 190px;
}

@media (min-width: 890px) {
    .parent .grid:hover img {
        transform: scale(1.1);
        transition: ease-in-out all 0.3s;
    }
}

@media (max-width:800px) {  
.titulogallery p {
    
    font-size: 2.5rem;
    text-align: center;
    margin:auto;
}
}