* {
    margin: 0;
    padding: auto;
    box-sizing: content-box;
}

:root {
    --azul: #0089CE;
    --blanco: #feffff;
    --morado: #202b70;
    --negro: #000000;
    --amarillo: #E2D556;
    --gris: #757575;
}

html {
    font-size: 16px;
    font-family: myriad-pro, sans-serif;
}

/* navbar */
nav {
    width: 100%;
    height: 7vh;
    background-color: var(--blanco);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;

}

.nav .active {
    color: var(--azul);
}

.logo {
    width: 150px;
    height: 100%;
    text-decoration: none;
    color: var(--negro);
    background-image: url(../estilos/imagenes/logo/perfect\ smile\ logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider {
    width: 100%;
    height: auto;
    margin-top: 36px;
}

.carousel {
    height: 100%;
}

.offcanvas-title {
    background-image: url(../estilos/imagenes/logo/perfect\ smile\ logo.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 46px;
}

/* divisiones */

.divisiones {
    width: 100%;
    height: 350px;
    background: var(--blanco);
    border-top: solid black;
}

/* cards */
.tarjetas {
    width: 100%;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: var(--morado);
}

.card-img-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--morado);
}

.circle {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    background: var(--blanco);
}

.card {
    margin: 20px;
    width: 18rem;
}

.card-text,
.card-body,
.card {
    color: var(--blanco);
    background: var(--morado);
    text-align: center;
}

/* ----------- */
/*   carrusel  */
/*-------------*/


.section {
    height: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.CarouselSection {
    height: 48%;
    width: 90%;
    display: flex;
    align-items: center;

}

.carrusel {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.TextSection {
    height: 48%;
    width: 90%;
    display: flex;
    align-items: center;
}

.text p {
    text-align: left;
    color: var(--negro);
    margin-left: 50px;
    padding: 0px 0px 6px;
}

/*--------------*/
/*  Formulario  */
/*--------------*/

.contact {
    display: flex;
    justify-content: center;
}

.contact h5 {
    color: var(--morado);
    font-size: 3rem;
}

.hr {
    display: flex;
    justify-content: center;
}

.hr hr {
    width: 75%;
}

.ContactUs {
    min-height: 350px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.formulario, .map {
    height: 500px;
    width: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 5px;
    padding: 0;
}

.formulario #floatingTextarea2 {
    height: 100px;
}



.mapa {
    height: 80%;
    width: 100%;
    border: var(--morado) solid 2px;
}

@media (max-width: 800px) {
    .formulario, .map {
        width: 90%;
    }
}

/*api de instagram*/

.api-instagram {
    width: 100%;
    height: fit-content;
}

/* footer*/
.footer {
    width: 100%;
    height: 200px;
    height: auto;
    background: var(--morado);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--blanco);
}

.footerup {
    height: 70%;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footerup p {
    margin-top: 10px;
}

.footerup a i {
    text-decoration: none;
    color: var(--blanco);
}

.footerup a i:hover {
    font-size: 20px;
    transition: 0.5s;
}

.footerup div {
    padding: 2rem;
}

.footerdown {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer a {
    text-decoration: none;
    color: var(--azul);
    margin: 0 10px 0 10px;
}

/*CONSULTATION ONLINE*/

.titulo{
    width: 100%;
    height: 150px;
    text-align: left;
    background: var(--morado);
    margin-top: 36px;
    display: flex;
    align-items: center;
}

.titulo p{
    color: var(--blanco);
    font-size: 2rem;
    margin:150px;

}

@media (max-width:800px){
    .footer{
        font-size: 0.55rem;
    }
    .titulo{
        height: 100px;
        margin-left: 50px;
    }
    .titulo p {
        font-size: 1.3rem;
    }

    .productdisclaimer{
        padding: 50px 0 0 50px;
    }
}

h2{
    font-size: 1.5rem;
    color: var(--morado);
}

.pblack{
    font-size: 0.9rem;
    color:var(--gris)
}

.productdisclaimer{
    
    width: 90%;
    height: auto;
    text-align: justify;
    padding:50px 0 50px 150px;
    margin: 0;
}